+popup-template(1, ) 
	.col-6.col-md-12.form-default
		h2 Консультация
		+inputText('Ваше имя','form-line')
		+inputEmail('Ваш Email','form-line')
		+inputPhone('Ваш телефон','form-line')
		+inputCheckbox(false,['Я даю свое согласие на обработку персональных данных'])
		+inputSubmit('Отправить', 'btn--green')