doctype html
html
	// head start
	include head.pug 
	// head end
	include ../components/connect-mixins.pug  
	body 
		// popup-menu start
		include ../blocks/popup/menu.pug 
		include ../blocks/popup/backcall.pug 
		// popup-menu end
  
		// header start
		include ../blocks/header.pug
		// header end