include ../../default/build-header
		
// header end
.stub
+roofContent("Вакансии")
	.main-full
		-for(var i=0;i<8;i++)
			+cardsItem()
	+pagination()

// footer start  

include ../../blocks/footer.pug

// footer end 