include ../../default/build-header
		
// header end
.stub
.content
	.gomap 
		#map
		.main-grid
			.col-3.col-md-5.col-xs-12 
				.gomap-popup-container
					.gomap-popup.shadow-container
						.gomap-popup-close.filters-close-popup
						.gomap-popup-roof
							span Резюме обновлено: 26.01.2022
							.like-btn
								.like-hint 
									| Добавить в избранное
						.cards-face-container
							.cards-face.img-cover
								img(src="/images/temp/avatar-1.jpg", alt="")

						.gomap-popup-info
							h3 
								a(href="") Старший повар на постоянной основе
							h4 Ирина Владимирована Кондакова
							.gomap-popup-price P 100 000
							ul.ln.gomap-popup-list
								li 
									img(src="/images/icons/phone-green.svg", alt="")
									a(href="#") +7 (985) 282-65-32 
								li
									img(src="/images/icons/mail-green.svg", alt="")
									a(href="#") info@yandex.ru 
								li
									img(src="/images/icons/marker-green.svg", alt="")
									b Окская улица, 48/2, Москва,


// footer start   

include ../../blocks/footer.pug

// footer end 