include ../default/build-header
// main start
include home/main.pug 
// main end


include home/category.pug
include home/cards.pug
include home/sales.pug
include home/nurseries.pug

include home/feedback.pug

// main page content end

// footer start 

include ../blocks/footer.pug

// footer end 