.cabinet-header
	.cabinet-header-avatar-container
		.cabinet-header-avatar.img-cover
			img(src="/images/temp/avatar-1.jpg", alt="")
	.cabinet-header-nav 
		a(href="#") Войти
		span |
		a(href="#") Регистрация
	//- .cabinet-popup
	//-   .cabinet-popup-info
	//-     .cabinet-popup-name
	//-       | Евгений Александрович
	//-     .cabinet-popup-mail 
	//-       | bink@inbox.ru
	//-   .cabinet-popup-controls
	//-     .btn.btn--green-border Настройки
	//-     .btn.btn--red-border Выйти
