.city-header
	em
	.city-name Москва
	//- .city-header-popup 
	//- 	.close-btn.close-btn_popup
	//- 	.city-search-container
	//- 		i 
	//- 		input.city-input(type="text" placeholder="Введите название города")
		//- ul.ln
		//- 	li Казань
		//- 	li Питербург
		//- 	li Сочи
		//- 	li Шерегеш
		//- 	li Казань
		//- 	li Питербург
		//- 	li Сочи
		//- 	li Шерегеш
		//- 	li Казань
		//- 	li Питербург
		//- 	li Сочи
		//- 	li Шерегеш
		//- 	li Казань
		//- 	li Питербург
		//- 	li Сочи
		//- 	li Шерегеш
		//- 	li Казань
		//- 	li Питербург
		//- 	li Сочи
		//- 	li Шерегеш