section.gallery-section
	.main-full.head-section
		h2.title-section
			|Галерея
	.main-full.owl-gallery.owl-carousel
		.gallery-item
			img(src="/images/temp/1.jpg", alt="")
		.gallery-item 
			img(src="/images/temp/1.jpg", alt="")
		.gallery-item 
			img(src="/images/temp/1.jpg", alt="")
		.gallery-item 
			img(src="/images/temp/1.jpg", alt="")
		.gallery-item 
			img(src="/images/temp/1.jpg", alt="")
		.gallery-item 
			img(src="/images/temp/1.jpg", alt="")
		.gallery-item 
			img(src="/images/temp/1.jpg", alt="")
		.gallery-item 
			img(src="/images/temp/1.jpg", alt="")
		.gallery-item 
			img(src="/images/temp/1.jpg", alt="")
		
