.reviews-detail
			.main-grid
				.col-6
					h2 Отзывы:
					.reviews-list
						+reviewsItem("Alex But","10/10/10") 
						+reviewsItem("Nanci Dri","12/12/22") 
				.col-6
					h2 Оценка:
					.reviews-form
						.reviews-stars
							.reviews-stars-container
								i.star-ico.star-ico--green
								i.star-ico.star-ico--green
								i.star-ico.star-ico--green
								i.star-ico.star-ico--green
								i.star-ico.star-ico--green
						form.form-default
							.form-line
								+inputTextarea('Ваше сообщение')
							.form-line 
								+inputSubmit('Оставить отзыв', 'btn--orange') 