.cabinet-hamburger
	.line
	.line
	.line
.cabinet-nav
	ul.ln
		li 
			a.profile-nav
				i
				span Профиль
		li 
			a.cards-nav.active
				i
				span Карточки
		li 
			a.favorites-nav
				i
				span Избранное
		li
		li 
			a.hidden-nav
				i
				span Спрятанные
		li
			a.responses-nav
				i
				span Отклики
		li
			a.invitation-nav
				i
				span Приглашения
		li
			a.chat-nav
				i
				span Чат
		li
			em.cabinet-logout
				i
				span Выйти
	.cabinet-nav-footer 

