mixin pagination()
  // pagination-component start
  .pagination
    li.previous
      a(href="#").disabled Назад
    li.selected
      a  1 
    li
      a(href="#") 2 
    li
      a(href="#") 3 
    li
      a(href="#").pagination-dotted ...
    li
      a(href="#") 20
    li.next
      a(href="#") Вперед
  // pagination-component start