mixin social(val)
  .social
    - for (var i=0; i<val.length; i++)
        case val[i]
          when 'v'
            a(href="#")
              img(src="/images/social/vk-black.svg", alt="")
              img.ico-hover(src="/images/social/vk-orange.svg", alt="")
          when 'vw'
            a(href="#").social-ico--white
              img(src="/images/social/vk-white.svg", alt="")
              img.ico-hover(src="/images/social/vk-orange.svg", alt="")
          when 'y'
            a(href="#")
              img(src="/images/social/youtube-black.svg", alt="")
              img.ico-hover(src="/images/social/youtube-orange.svg", alt="")
          when 'yw'
            a(href="#").social-ico--white
              img(src="/images/social/youtube-white.svg", alt="")
              img.ico-hover(src="/images/social/youtube-orange.svg", alt="")
          when 'g'
            a(href="#")
              img(src="/images/social/google-black.svg", alt="")
              img.ico-hover(src="/images/social/google-orange.svg", alt="")
          when 'gw'
            a(href="#").social-ico--white
              img(src="/images/social/google-white.svg", alt="")
              img.ico-hover(src="/images/social/google-orange.svg", alt="")
          when 'tl'
            a(href="#")
              img(src="/images/social/telegram-black.svg", alt="")
              img.ico-hover(src="/images/social/telegram-orange.svg", alt="")
          when 'tlw'
            a(href="#").social-ico--white
              img(src="/images/social/telegram-white.svg", alt="")
              img.ico-hover(src="/images/social/telegram-orange.svg", alt="")
          when 'i'
            a(href="#")
              img(src="/images/social/instagram-black.svg", alt="")
              img.ico-hover(src="/images/social/instagram-orange.svg", alt="")
          when 'iw'
            a(href="#").social-ico--white
              img(src="/images/social/instagram-white.svg", alt="")
              img.ico-hover(src="/images/social/instagram-orange.svg", alt="")
          when 'wz'
            a(href="#").social-ico--white
              img(src="/images/social/whatsapp-black.svg", alt="")
              img.ico-hover(src="/images/social/whatsapp-orange.svg", alt="")
          when 'wzw'
            a(href="#").social-ico--white
              img(src="/images/social/whatsapp-white.svg", alt="")
              img.ico-hover(src="/images/social/whatsapp-orange.svg", alt="")
        