.outer.market-slider
  #big.owl-carousel.owl-theme.market-slide
    - for (var x = 0; x < 5; x++)
      div
        img(src="/images/temp/1.jpg", alt="")
  #thumbs.owl-carousel.owl-theme.market-gallery(data-slider-id="1")
    - for (var x = 0; x < 5; x++)
      .owl-thumb-item
        .thumb-item
          img(src="/images/temp/1.jpg", alt="")