.input-decorate,
.custom-select
	padding: 9px 12px
	border: 0
	font-family: inherit
	font-size: $standartSize
	font-weight: 500
	resize: none
	width: 100%
	background: none
	color: $blackColor
	border-radius: 8px
	border: 1px solid $grayColor
	transition: ease-out 0.5s
	&:focus
		outline: 0
		box-shadow: $shadowSecond
.file-decorate-error span,
.input-error
	border-color: $redColor
.mail-error
	border-color: $orangeColor
.error-hint
	color: $redColor
	margin-top: 2px
.form-default
	h2,h3
		margin: 0 0 15px
	b, label
		display: block
		margin: 0 0 8px
		font-size: $standartSize
	.form-line
		margin: 0 0 15px
	button
		margin: 0 0 15px
	.form-btn-container
		padding-top: 15px
