/*password-field start*/
.password-field
  position: relative
  i
    width: 30px
    height: 30px
    position: absolute
    right: 10px
    top: 50%
    cursor: pointer
    transform: translateY(-50%)
/*password-field end*/
