/*-custom-select-*/

.custom-select
	cursor: pointer
	position: relative
	input
		position: absolute
		opacity: 0
		width: 0
		height: 0
		overflow: hidden

		// visibility: hidden
	ul

		@include positionElement(100%, auto, 0, 100%, left, top, 1)

		opacity: 0
		visibility: hidden

		background: $whiteColor
		overflow-y: auto

		margin-left: -1px
		width: calc(100% + 2px)
		max-height: 180px
		border-top: 0

		li
			padding: 5px 14px
			cursor: pointer
			transition: ease-out 0.25s

			&:hover
				background: $grayColorThree

	&.active
		z-index: 3
		border-radius: 30px 30px 0 0
		ul
			visibility: visible
			opacity: 1

		i
			transform: translateY(-50%) rotate(180deg)

	span
		position: relative
		z-index: 2

	i
		@include bgImageEl("../images/arrows/carret-down-gray.svg", 36px)
		@include positionElement(36px, 36px, 5px, 50%, right, top, 2)
		transform: translateY(-50%)
/*-custom-select-*/

.city-field
	padding: 9px 12px
	border: 0
	position: relative
	color: $blackColor
	border-bottom: 1px solid $grayColor
	transition: ease-out 0.5s
	.city-name
		cursor: pointer
		&:hover
			color: $blueColor
.city-field-container
	input
		padding-left: 45px
	i
		@include icoEl(30px,30px,"../images/icons/loop-black.svg")
		position: absolute
		left: 7px
		top: 2px
		padding: 4px
		opacity: 0.7
.city-field-arrow
	@include bgImageEl("../images/arrows/carret-down-gray.svg", 36px)
	@include positionElement(36px, 36px, 5px, 50%, right, top, 2)
	transform: translateY(-50%)
	&.active
		transform: translateY(-50%) rotate(180deg)
.city-field-popup
	@include positionElement(100%, auto, 0, 100%)
	background-color: $whiteColor
	ul
		height: 280px
		position: relative
		overflow: auto
		&::-webkit-scrollbar
			height: 12px
			width: 8px
			background: $grayColorSecond

		&::-webkit-scrollbar-thumb
			background: $grayColor
			border-radius: 1ex

		&::-webkit-scrollbar-corner
			background: $grayColor
	li
		padding: 5px
		cursor: pointer

		&:hover
			color: $blueColor
