doctype html
html
	// head start
	include default/head.pug 
	// head end
	body
	.all-btns
		h2 Все кнопки 
		a.btn(href="#") Кнопка
		a.btn.btn--black(href="#") Кнопка
		a.btn.btn--green(href="#") Кнопка
		hr
		.close-btn--black
		.close-btn--white
		.hamburger-btn--black
		.hamburger-btn--white
		hr 
		a(href="#").back-link
			i
			span Назад

	// footer end