include ../default/build-header
.show-all-images 
	h2 Arrows
	div
		img(src="/images/arrows/arrow-up-black.svg", alt="")
		img(src="/images/arrows/arrow-up-white.svg", alt="")


		img(src="/images/arrows/arrow-down-black.svg", alt="")
		img(src="/images/arrows/arrow-down-white.svg", alt="")

		img(src="/images/arrows/arrow-left-black.svg", alt="")
		img(src="/images/arrows/arrow-left-white.svg", alt="")

		img(src="/images/arrows/arrow-right-black.svg", alt="")
		img(src="/images/arrows/arrow-right-white.svg", alt="")

		img(src="/images/arrows/arrow-up-black.svg", alt="")
		img(src="/images/arrows/arrow-up-white.svg", alt="")

		img(src="/images/arrows/carret-up-black.svg", alt="")
		img(src="/images/arrows/carret-up-gray.svg", alt="")
		img(src="/images/arrows/carret-up-white.svg", alt="")

		img(src="/images/arrows/carret-down-black.svg", alt="")
		img(src="/images/arrows/carret-down-gray.svg", alt="")
		img(src="/images/arrows/carret-down-white.svg", alt="")

		img(src="/images/arrows/carret-left-black.svg", alt="")
		img(src="/images/arrows/carret-left-gray.svg", alt="")
		img(src="/images/arrows/carret-left-white.svg", alt="")

		img(src="/images/arrows/carret-right-black.svg", alt="")
		img(src="/images/arrows/carret-right-gray.svg", alt="")
		img(src="/images/arrows/carret-right-white.svg", alt="")


	h2 Default
	div 
		img(src="/images/icons/close-black.svg", alt="")
		img(src="/images/icons/close-white.svg", alt="")
		img(src="/images/icons/hamburger-black.svg", alt="")
		img(src="/images/icons/hamburger-white.svg", alt="")
		img(src="/images/icons/loop-black.svg", alt="")
		img(src="/images/icons/loop-white.svg", alt="")
		img(src="/images/icons/mail-black.svg", alt="")
		img(src="/images/icons/mail-white.svg", alt="")
		img(src="/images/icons/phone-black.svg", alt="")
		img(src="/images/icons/phone-white.svg", alt="")
		img(src="/images/icons/avatar-black.svg", alt="")
		img(src="/images/icons/avatar-white.svg", alt="")
		img(src="/images/icons/download-black.svg", alt="")
		img(src="/images/icons/download-white.svg", alt="")
		img(src="/images/icons/marker-black.svg", alt="")
		img(src="/images/icons/marker-white.svg", alt="")
		img(src="/images/icons/ok-black.svg", alt="")
		img(src="/images/icons/ok-white.svg", alt="")
		img(src="/images/icons/ok-circle-black.svg", alt="")
		img(src="/images/icons/ok-circle-white.svg", alt="")
		img(src="/images/icons/avatar-black.svg", alt="")
		img(src="/images/icons/avatar-white.svg", alt="")
		img(src="/images/icons/star-fill-black.svg", alt="")
		img(src="/images/icons/star-fill-white.svg", alt="")
		img(src="/images/icons/star-black.svg", alt="")
		img(src="/images/icons/star-white.svg", alt="")
		img(src="/images/icons/minus-black.svg", alt="")
		img(src="/images/icons/minus-white.svg", alt="")
		img(src="/images/icons/play-black.svg", alt="")
		img(src="/images/icons/play-white.svg", alt="")
		img(src="/images/icons/plus-black.svg", alt="")
		img(src="/images/icons/plus-white.svg", alt="")
		img(src="/images/icons/view-black.svg", alt="")
		img(src="/images/icons/view-white.svg", alt="")
		img(src="/images/icons/unview-black.svg", alt="")
		img(src="/images/icons/unview-white.svg", alt="")

	h2 Social

	img(src="/images/social/google-black.svg", alt="")
	img(src="/images/social/google-white.svg", alt="")
	img(src="/images/social/google-orange.svg", alt="")
	
	img(src="/images/social/instagram-black.svg", alt="")
	img(src="/images/social/instagram-white.svg", alt="")
	img(src="/images/social/instagram-orange.svg", alt="")

	img(src="/images/social/telegram-black.svg", alt="")
	img(src="/images/social/telegram-white.svg", alt="")
	img(src="/images/social/telegram-orange.svg", alt="")

	img(src="/images/social/twitter-black.svg", alt="")
	img(src="/images/social/twitter-white.svg", alt="")
	img(src="/images/social/twitter-orange.svg", alt="")

	img(src="/images/social/youtube-black.svg", alt="")
	img(src="/images/social/youtube-white.svg", alt="")
	img(src="/images/social/youtube-orange.svg", alt="")

	img(src="/images/social/vk-black.svg", alt="")
	img(src="/images/social/vk-white.svg", alt="")
	img(src="/images/social/vk-orange.svg", alt="")

	img(src="/images/social/whatsapp-black.svg", alt="")
	img(src="/images/social/whatsapp-white.svg", alt="")
	img(src="/images/social/whatsapp-orange.svg", alt="")

	img(src="/images/social/youtube-black.svg", alt="")
	img(src="/images/social/youtube-white.svg", alt="")
	img(src="/images/social/youtube-orange.svg", alt="")


	// footer end