section.news-home
	.main-full.head-section
		h2.title-section 
			| Новые Товары
		a(href="#").back-link Все Товары
	.main-grid.owl-tablet.owl-carousel
		.col-3
			+cardsItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum")
		.col-3
			+cardsItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum")
		.col-3
			+cardsItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum")
		.col-3
			+cardsItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum")
