section.news-home
	.main-full.head-section
		h2.title-section 
			| Товары для животных
	.main-grid.owl-tablet.owl-carousel
		.col-3
			+categoryItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum")
		.col-3
			+categoryItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum")
		.col-3
			+categoryItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum")
		.col-3
			+categoryItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum")