.main-home.owl-main.owl-carousel
	each val in ['1','2','3']
		.main-home-item
			img.main-home-img(src="/images/temp/1.jpg", alt="")
			.main-home-content
				.main-grid
					.col-5.col-sm-9
						.main-home-info
							h1 Lorem ipsum dolor, sit amet consectetur adipisicing elit
							.main-home-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore fuga deleniti nemo aut laboriosam, soluta fugiat amet odit quod commodi quasi ut, optio odio eaque dicta explicabo ratione similique?
							.btn-container
								a(href="#").btn.btn--blue Узнать больше