section.news-home
	.main-full.head-section
		h2.title-section 
			| Питомники
		a(href="#").back-link Все Питомники
	.main-grid.owl-tablet.owl-carousel
		.col-3
			+nurseriesItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum","11.12.2022")
		.col-3
			+nurseriesItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum","11.12.2022")
		.col-3
			+nurseriesItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum","11.12.2022")
		.col-3
			+nurseriesItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum","11.12.2022")
