section.partners
	.main-full.head-section
		h2.title-section 
			span Y
			|Radio уже подключили
	.partners-container.main-full.owl-partners.owl-carousel
		-for (var i=0; i < 12; i++)
			.partners-item 
				img(src="/images/temp/ico-1.svg", alt="")