mixin cardsItem(name, text) 
	.cards-item
		a(href="#").cards-item-img
			.img-cover
				img(src="/images/temp/1.jpg", alt="")
			.nurseries-raiting 
				i 
				span 4.8 
				em | 200 отзывов
			.cards-item-price 3000 р.
		.cards-item-info
			h3
				a(href="#")=name
			.cards-item-text=text
		.cards-item-weight
			b Вес:
			span.active 1 кг
			span 2 кг
