mixin reviewsItem(name,subname)
		.reviews-item
			.main-grid
				.reviews-info.col-3
					.reviews-img.img-cover
						img(src="/images/temp/avatar-1.jpg", alt="")
				.reviews-body.col-9
					h2= name
					h3= subname
					.reviews-text
						| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quod laboriosam consequatur voluptatibus ducimus quas, eius minima accusamus modi porro quidem illo architecto dolore nam unde laborum ipsum, placeat quasi!
					.reviews-stars-container
						i.star-ico.star-ico--green.active
						i.star-ico.star-ico--green.active
						i.star-ico.star-ico--green.active
						i.star-ico.star-ico--green.active
						i.star-ico.star-ico--green