
.cabinet-account
  position: relative
  overflow: hidden
  .main-grid
    padding: 0
  h3
    font-size: $largeSize
    border-bottom: 1px solid $grayColorSecond
    padding: 0 0 5px
    margin: 0 0 15px

  .btn-container
    display: flex
    gap: 30px
  .account-item
    margin: 0 0 30px
    b
      display: block
      margin: 0 0 8px
    a
      color: $blueColor
      text-decoration: none
      &:hover
        color: $orangeColor
        text-decoration: underline
  .checkbox-box
    padding-top: 6px
    display: flex
    gap: 30px
  .switch-box
    padding-top: 12px
  .input-photo-container,
  .cards-face-container
    b
      display: inline-block
      margin-bottom: 8px

.map-input
  position: relative
  .hidden-field
    @include positionElement(0,0)
    opacity: 0

.complex-input
  position: relative
  border-bottom: 1px solid $grayColorSecond
  margin-bottom: 30px
  padding-right: 45px
  padding-bottom: 15px
  .input-decorate,
  .custom-select
    margin: 0 0 15px
.complex-delete-field
  @include bgImageEl("../images/cabinet/trash-white.svg", 20px)
  @include positionElement(30px,30px,0,0%,right)

  cursor: pointer
  border-radius: 100%
  background-color: $redColor
  border: 1px solid $redColor
  &:hover
    background-color: $whiteColor
    background-image: url("../images/cabinet/trash-red.svg")
.cards-face,
.empty-face
  width: 80%
  height: inherit
  padding-bottom: 80%
  border-radius: 100%
  overflow: hidden
  position: relative
.empty-face
  background-size: 80%
  background-position: center
@media (max-width: 992px)
  .cards-face-container
    width: 100%
  .input-photo-container
    width: 100%
    padding-bottom: 100%
  .cabinet-account
    .btn-container
      gap: 15px
    .btn
      min-width: 140px
      font-size: 14px
      i
        margin-right: 3px
      img
        width: 15px
        height: 15px
    .input-photo-container
      margin: 0 0 30px

@media (max-width: 768px)
  .cabinet-account
    .btn
      min-width: 140px
      font-size: 16px
      i
        margin-right: 7px
      img
        width: 20px
        height: 20px
@media (max-width: 576px)
  .cabinet-account
    .btn-container
      flex-direction: column
    .btn
      width: 100%
