include ../../default/build-header
.stub
// contacts page content start
+roofContent("Часто задаваемые вопросы")
	.page.main-full.faq-container
		.faq-item
			.faq-head
				h3 Что такое 
					span YRadio?
				i
			.faq-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.faq-item.faq-item--active
			.faq-head 
				h3 Что такое 
					span YRadio?
				i 
			.faq-content YRadio предоставляет доступ к обширной коллекции лицензированной музыки (более 11 000 000 музыкальных фонограмм) и воспроизводит музыкальные композиции, согласно заданному пользователем расписанию. Плейлисты можно составить самостоятельно, а можно выбрать готовые из числа составленных музыкальными редакторами YRadio (более 300 готовых плейлистов). Управление музыкой и рекламно-информационными сообщениями осуществляется из личного кабинета, доступ к которому получает пользователь при подключении к сервису.
		.faq-item
			.faq-head
				h3 Что такое 
					span YRadio?
				i
			.faq-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	include ../home/feedback.pug
// contacts page content end

// footer start 

include ../../blocks/footer.pug

// footer end  