include ../../components/default/build-header
		
// header end
+roofContent("Просто страница")
	.page.main-grid
		.page-img 
			img(src="/images/temp/1.jpg", alt="")
		.page-content
			h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vero pariatur sunt 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid placeat quas quasi quam dolorum praesentium? Ipsa, nam est rem, nisi minus esse reiciendis, quae aperiam molestias officia impedit doloremque sit.
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi nam officiis in excepturi, nisi unde aliquid rem hic aliquam a illum ducimus ea ratione dignissimos sed ex rerum voluptatem iure!

	
// slider thumbnails end

// footer start 
.stub-footer
include ../../components/default/footer.pug

// footer end 