include ../../default/build-header
.stub
// contacts page content start
+roofContent("404", false)
	.main-full.page-404
		h2 Извините, страница, которую вы ищете, не существует
		.btn-container 
			a.btn.btn--black(href="/") На главную

// footer start  

include ../../blocks/footer.pug

// footer end   